<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    
    <!-- Bootstrap stylesheet link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- CSS stylesheet link -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  
  <!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">   
    <a class="navbar-brand flood" href="index">Flood Warning</a>             
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>       
    <div class="collapse navbar-collapse flex-grow-1 text-right">              
      <ul class="navbar-nav ml-auto">          
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="analysis">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="tableau">Tableau Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>



  <div class="row mt-5">
    <div class="container col-lg-7">
        <div class="jumbotron">
          <br>
            <h2 class="display-4">Purpose and Problem</h2>
            <hr class="my-4">
            <div class= "row">
                <div class="col 3">
                    <img src="static/images/flood_table.png" class="img-fluid float-left"/>
                </div>
                <div class="col 12">  
                    <li class= 'list'>Floods have many types of consequences</li>
                    <li class= 'list'>In context of data source floods cause lowers mining productivity and social displacement</li>
                    <li class= 'list'>Problem - how to predict flooding to prevent consequences?</li>
                    <li class = 'list'>Realtime rainfall data and creek water level data?</li>
                    <br>
                    <!-- <h4 class="display-5">An innovative Machine Learning approach into predicting flood events</h4><hr> -->
                  </div>
                  <div>
                    <h3 class="display-4"> Outcome - Flood Warning System</h3>
                    <hr class="my-4">
                    <br>
                    <li class= 'list'>A machine learning model to predict the risk of flooding</li>
                    <li class= 'list'>For this mockup website the Serengeti River is referenced</li>
                    <li class= 'list'>Inputting rainfall forecasts localised at given rainfall stations</li>
                    <li class= 'list'>Using categorised water level as output variable</li>
                    </ul>
                  </div>  
            </div>

        </div>
    </div>

  <div class="container col-lg-3">
        <div class="jumbotron">
            <h2 class="display-4">Data and Visualisations</h2>
            <h4>Click on images to explore further!</h4>
            <div class="container">
                <hr class="my-4">
                <div class= "row">
                    <div class="col 6">
                        <a href="map">
                            <img src="static/images/map_thumb.png" class="img-thumbnail"/>
                        </a>
                    </div>  
                    <div class="col 6">
                        <a href="data">
                            <img src="static/images/data_thumb.png" class="img-thumbnail" />
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class= "row">
                    <div class="col 6">
                        <a href="analysis">
                            <img src="static/images/predict_thumb.png" class="img-thumbnail" />
                        </a>
                    </div>
                    <div class="col 6">
                        <a href="tableau">
                            <img src="static/images/tableau_thumb.png" class="img-thumbnail" />
                        </a>
                </div>
            </div>
            <br>
        </div>
    </div>   
    </div>
</div>
 <br>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <br>
        <h3 class="display-4">Flood Warning System</h3>
        <br>
        <h4 class="display-5">An innovative Machine Learning approach to predicting flood events</h4>
        <hr>
      </div>
      <div class="about">
        <br>
        <p>An analysis of environmental data using machine learning models as a predictor for flooding events in the Serengeti to answer the following questions;</p>
        <ul>
        <li>What are the most effective methods of choosing a location for a rainfall station?</li>
        <li>How many rainfall stations do we need to have an accurate prediction?</li>
        <li>What is the accuracy across different Machine Learning models?</li>
        </ul>
      </div> -->
      
      
    </div>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="./static/js/data.js"></script>

</body>
</html>
