<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    
    <!-- Bootstrap stylesheet link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- CSS stylesheet link -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  
  <!-- Navbar content -->
  <nav class="navbar navbar-expand-md navbar-light bg-white">    
    <a class="navbar-brand flood" href="index.html">Flood Warning</a>             
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>       
    <div class="collapse navbar-collapse flex-grow-1 text-right">              
      <ul class="navbar-nav ml-auto">          
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="analysis.html">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="map.html">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="data.html">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2 menu-item" href="tableau.html">Tableau Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" href="#carouselExampleIndicators">
      <div class="carousel-item active">
        <a href="/analysis.html" target="_self">
        <img class="d-block w-100" src="../static/images/first_slide.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h3>Flood Warning System</h3>
            <h4>An innovative Machine Learning approach to predicting flood events</h4>
        </a>
      </div>
    </div>

    <div class="carousel-item">
      <a href="/analysis.html" target="_self">
      <img class="d-block w-100" src="../static/images/serengeti_river_2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
          <h3>Flood Warning System</h3>
          <h4>An innovative Machine Learning approach to predicting flood events</h4>
      </a>
    </div>
  </div>

    <div class="carousel-item">
      <a href="/analysis.html" target="_self">
      <img class="d-block w-100" src="../static/images/serengeti_river_3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
          <h3>Flood Warning System</h3>
          <h4>An innovative Machine Learning approach to predicting flood events</h4>
      </a>
    </div>

  </div>

  </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>

  </div>

    
      <STYLE>A {text-decoration: none;} </STYLE>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>

</html>
  